.container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside content";
}
.item {
  padding: 10px;
  border: 1px solid black;
}
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-area: header;
}
.aside {
  align-self: start;
  grid-area: aside;
}
.content {
  grid-area: content;
}
